.wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.sidebar {
  width: 300px;
  padding: var(--padding);
  border-right: 1px solid var(--border-color);

  display: flex;
  flex-direction: column;

  & > * {
    flex: 1 1 auto;
    min-height: 150px;
    border-bottom: var(--border);
  }

  & > :last-child {
    border-bottom: none;
  }
}

.main {
  width: 100%;
  height: 100%;
}

.mapWrapper {
  padding: var(--padding);
  height: 100%;
}
