.wrapper {
    padding-bottom: calc(var(--padding) - 4px);
    max-height: 400px;
    display: flex;
    flex-direction: column;
}

.scrollArea {
    overflow-y: auto;
}

.headerRow {
    display: flex;
    & > svg {
        font-size: 12px;
        margin-right: var(--padding);
    }
}

.list {
    padding-left: 0;
    list-style: none;
}

.item {
    max-width: 400px;
    display: flex;
    align-items: center;
}
.item:hover {
    background-color: var(--highlight-color);
}

.name {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow-x: auto;
    // text-overflow: ellipsis;
}

.checkbox {
    margin-right: var(--padding);
}

.keyPip {
    display: inline-block;
    height: 12px;
    width: calc(12px + var(--padding));
    margin-right: var(--padding);
    border: var(--inverse-border);
}
